.bg--red {
	background-color: #ea3323;
}

.bg--blue {
	background-color: #5197f7;
}

.bg--green {
	background-color: #62c654;
}

.bg--yellow {
	background-color: #edcb59;
}

.bg--purple {
	background-color: #76147b;
}
