$this-padding: 5px;
$this-tile-size-xs: 100%;
$this-tile-size-sm: 50%;
$this-tile-size-md: 33.3333%;
$this-tile-size-lg: 25%;

.itemsGridBoxItemContainer {
	position: relative;
	display: inline-block;
	height: 0;
	width: $this-tile-size-xs;
	padding-top: $this-tile-size-xs;

	font-size: 20px;
	color: white;
	font-weight: bold;
	text-align: center;

	@media (min-width: 500px) {
		width: $this-tile-size-sm;
		padding-top: $this-tile-size-sm;
	}

	@media (min-width: 768px) {
		width: $this-tile-size-md;
		padding-top: $this-tile-size-md;
	}

	@media (min-width: 1000px) {
		width: $this-tile-size-lg;
		padding-top: $this-tile-size-lg;
	}
}
.itemsGridBoxItem {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 10px;
	border: #f1f1f1 solid 2px;
	border-radius: 8px;
}
